@page "/tools/hasher"

<h2>Hasher-hasher-hasher</h2>

<div>
    <fieldset>
        <select>
            <option>SHA1</option>
            <option>SHA2</option>
            <option>SHA128</option>
            <option>SHA256</option>
            <option>SHA512</option>
            <option>MD5</option>
        </select>
    </fieldset>
    <button>RN</button>
</div>