@page "/tools"
<h1>Toolz</h1>

<ul>
    <li><a href="/tools/appsettings">App settings to ENV</a></li>
    <li><a href="/tools/hasher">Hasher-hasher-hasher</a></li>
    <li><a href="/tools/banking">XxReq</a></li>
</ul>