@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

$light-color:#F2F2F2;
$contrast-one-color:#CB312F;
$contrast-two-color:#FFCC51;
$dark-color:#262626;
$darker-color:#707070;

$container-width: 930px;
$breakpoint-small-screen: 1055px;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    background-color: $light-color;
    color: $dark-color;
}

body {
    #app {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;        
    }

    footer {
        position: relative;
        padding: 30px;
        width: $container-width;
        box-sizing: border-box;
        background-color: $darker-color;
        margin: auto;
        margin-top: 30px;
        color: $light-color;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Bebas Neue';
        display: inline-block;
        position: relative;
        z-index: 1;
        padding-left: 30px;

        &::before {
            content: ' ';
            position: absolute;
            background: $contrast-one-color;
            height: 34px;
            width: 100px;
            z-index: -1;
            left: 0px;
        }
    }

    h2 {
        &::before {
            content: ' ';
            position: absolute;
            background: $contrast-one-color;
            height: 25px;
            width: 100px;
            z-index: -1;
            left: 0px;
        }
    }

    h3 {
        &::before {
            content: ' ';
            position: absolute;
            background: $contrast-one-color;
            height: 26px;
            width: 100px;
            z-index: -1;
            left: 0px;
        }
    }

    a {
        color: $darker-color;
        text-decoration: none;
        font-family: "Bebas Neue";

        &:hover {
            text-decoration: none;
        }
    }
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navigation {
    margin: auto;
    width: $container-width;
    height: 70px;
    display: grid;
    grid-template-columns: auto auto;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: end;
        align-items: center;

        li {
            display: inline-block;
            position: relative;
            list-style: none;
            font-family: 'Bebas Neue';
            font-size: 24px;

            a {
                color: $darker-color;

                span.icon {
                    display: none;
                }

                &:hover {
                    color: $contrast-one-color;
                }
            }
        }
    }
}

.main {
    margin: 0 auto;
    width: $container-width;
    background-color: white;
    border: 1px solid $dark-color;
    padding: 1.7em;
    box-sizing: border-box;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: block;
            position: relative;
            list-style: none;
            font-family: 'Bebas Neue';
            font-size: 1.3em;
            z-index: 23;

            a {
                transition: .3s;

                &:hover {
                    color: $contrast-two-color;
                }

                &::after {
                    content: '';
                    left: 0;
                    position: absolute;
                    height: 18px;
                    background: $contrast-one-color;
                    width: 0px;
                    transition: .3s;
                    z-index: -1;
                }

                &:hover::after {
                    width: 65%;
                    z-index: -1;
                }
            }
        }
    }
}

@media only screen and (max-width: $container-width) {
    #app {
        width: auto;
    }

    footer {
        width: 100%;
    }

    .main {
        width: 100%;
        padding: 0 75px;
    }

    .navigation {
        z-index: 1000;
        top: 0px;
        display: block;
        position: fixed;
        width: 60px;
        height: 100vh;
        background-color: $contrast-one-color;
        transition: 0.3s;
        overflow: hidden;
        padding: 0;

        &:hover {
            width: 300px;
        }

        ul {
            display: block;
            z-index: 10;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            color: $light-color;
            padding: 0;
            margin: 0;

            li {
                display: block;
                position: relative;
                list-style: none;
                margin: 0;

                a {
                    position: relative;
                    display: flex;
                    width: 100%;
                    text-decoration: none;
                    color: $dark-color;

                    span.icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 35px;
                        text-align: center;
                        color: $light-color;
                        font-size: 32px;
                        font-family: 'Poppins', serif;
                    }

                    span.title {
                        position: relative;
                        display: block;
                        line-height: 35px;
                        text-align: start;
                        white-space: nowrap;
                        font-family: 'Bebas Neue';
                        padding-top: 10px;
                    }

                    &:hover {
                        background-color: $light-color;

                        span.icon {
                            color: $contrast-one-color;
                        }
                    }
                }
            }
        }
    }

}

input,
textarea {
    font-family: inherit;
    padding: 3px 7px;
    font-size: 0.9em;
}

textarea {
    min-width: 75%;
    min-height: 150px;
    resize: none;
    overflow: auto;
}

button,
input[type=button] {
    border: 2px solid$dark-color;
    padding: 7px 12px;
    font-family: inherit;
    transition: .2s;

    &:hover {
        cursor: pointer;
        color: #fefefe;
        background: $contrast-one-color;
    }

    &:active {
        background: $contrast-two-color;
    }
}

.text-error {
    background-color: #fefefe;
    color: coral;
    padding: 5px 13px;
}

.text-simple {
    font-size: 12px;
}

.text-white {
    color: #fefefe;
}

fieldset {
    border: 0;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

}