@page "/"

<h1>Hello!Hello!Hello!Hello!Hello!</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate expedita eligendi odio perspiciatis perferendis
    labore sed officia, repudiandae harum sunt rerum quae voluptas totam recusandae veniam odit et iure accusantium.
</p>