<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">H</span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="/tools">
                <span class="icon">T</span>
                <span class="title">Tools</span>
            </a></li>
        <li>
            <a href="#">
                <span class="icon">C</span>
                <span class="title">Contact</span>
            </a></li>
        <li>
            <a href="#">
                <span class="icon">A</span>
                <span class="title">About</span>
            </a>
        </li>
    </ul>
</div>
